In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
# trocando de diretorio
os.chdir('c:\\Users\\julio\\Desktop\\PROJETO_IGTI_DATA_WAREHOUSE\\data\\raw')
os.getcwd()

'c:\\Users\\julio\\Desktop\\PROJETO_IGTI_DATA_WAREHOUSE\\data\\raw'

In [3]:
# importando os datasets
# importando os datasets
dfCarros = pd.read_csv('CargasCarro.csv', sep=';', encoding="ISO-8859-1")
dfClientes = pd.read_csv('CargasCliente.csv', sep=';', encoding="ISO-8859-1")
dfApolices = pd.read_csv('CargasApolice.csv', sep=';', encoding="ISO-8859-1")
dfSinistros = pd.read_csv('CargasSinistro.csv', sep=';', encoding="ISO-8859-1")

### Analise do Dataset dfCarros

In [4]:
dfCarros.shape

(783, 7)

In [5]:
dfCarros.head()

   ID    Placa       Marca   Modelo   Ano   Chassi       Cor
0   1  Placa 1       ACURA  INTEGRA  2012  Chassi1     Prata
1   2  Placa 2       ACURA   LEGEND  2014  Chassi2  Vermelho
2   3  Placa 7       ACURA      NSX  2015  Chassi3    Branco
3   4  Placa 7      AGRALE   MARRUA  2011  Chassi4     Preto
4   5  Placa 8  ALFA ROMEO      145  2010  Chassi5     Prata

- **ID:** identificador unico do carro  
- **Placa:**  numero de palca do carro  
- **Marca:** marca do carro  
- **Modelo:** modelo do carro  
- **Ano:** ano do carro  
- **Chassi:** chassi do carro  
- **Cor:** cor do carro

In [6]:
from datetime import datetime
dfCarros['data_criacao'] = datetime.now()

In [7]:

df_teste = dfCarros[['Placa', 'data_criacao']]
#  datetime.now()

In [8]:
df_teste['indice'] = df_teste.index

C:\Users\julio\AppData\Local\Temp\ipykernel_11404\2371355931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_teste['indice'] = df_teste.index

In [9]:
df_teste.head()

     Placa               data_criacao  indice
0  Placa 1 2022-09-20 18:59:20.573969       0
1  Placa 2 2022-09-20 18:59:20.573969       1
2  Placa 7 2022-09-20 18:59:20.573969       2
3  Placa 7 2022-09-20 18:59:20.573969       3
4  Placa 8 2022-09-20 18:59:20.573969       4

In [10]:
dfCarros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783 entries, 0 to 782
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            783 non-null    int64
 1   Placa         783 non-null    object
 2   Marca         783 non-null    object
 3   Modelo        783 non-null    object
 4   Ano           783 non-null    int64
 5   Chassi        783 non-null    object
 6   Cor           783 non-null    object
 7   data_criacao  783 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 49.1+ KB

In [11]:
dfCarros.isnull().sum()

ID              0
Placa           0
Marca           0
Modelo          0
Ano             0
Chassi          0
Cor             0
data_criacao    0
dtype: int64

### Analise do Dataset dfClientes

In [12]:
dfClientes.shape

(20, 11)

In [13]:
dfClientes.head()

,CodCliente,Nome,CPF,Sexo,Estado,Cidade,Bairro,Numero,Rua,TelefoneFixo,TelefoneCelular
0,1,Ken J Sánchez,15296387930,Feminino,Minas Gerais,Belo Horizonte,Centro,10.0,Rua Teste das Castanheiras,36418855.0,NaN
1,2,Terri Lee Duffy,10578963690,M,Minas Gerais,Belo Horizonte,Camargos,20.0,Rua Teste dos Pinheiros,36895566.0,NaN
2,3,Roberto Tamburello,36925874120,M,Minas Gerais,Belo Horizonte,Santa Efigenia,30.0,Rua teste dos poetas,36895566.0,NaN
3,4,Rob Walters,23658979630,M,Minas Gerais,Belo Horizonte,Centro,40.0,Rua teste dos prazeres,36895566.0,NaN
4,5,Gail A Erickson,78952589746,M,Minas Gerais,Belo Horizonte,Santo Antônio,50.0,Rua teste da poesia,36895566.0,NaN

- **CodCliente:** identificador unico do cliente
- **Nome:** nome do cliente
- **CPF:** cpf do cliente
- **Sexo:** sexo do cliente
- **Estado:** cidade de origem do cliente
- **Bairro:** bairro de origem do cliente
- **Numero:** numero da casa do cliente
- **Rua:** endereco do cliente
- **TelefoneFixo:** telefone fixo do cliente
- **TelefoneCelular:** telefone celular do cliente

In [14]:
dfClientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CodCliente       20 non-null     int64
 1   Nome             20 non-null     object
 2   CPF              20 non-null     int64
 3   Sexo             20 non-null     object
 4   Estado           20 non-null     object
 5   Cidade           19 non-null     object
 6   Bairro           19 non-null     object
 7   Numero           19 non-null     float64
 8   Rua              19 non-null     object
 9   TelefoneFixo     10 non-null     float64
 10  TelefoneCelular  0 non-null      float64
dtypes: float64(3), int64(2), object(6)
memory usage: 1.8+ KB

In [15]:
dfClientes.isnull().sum()

CodCliente          0
Nome                0
CPF                 0
Sexo                0
Estado              0
Cidade              1
Bairro              1
Numero              1
Rua                 1
TelefoneFixo       10
TelefoneCelular    20
dtype: int64

In [16]:
dfClientes.Sexo.unique()

array(['Feminino', 'M', 'F', 'Masculino'], dtype=object)

In [17]:
# covnertendo para texto
dfClientes['cpf_corrigido'] = dfClientes['CPF'].astype(str)
dfClientes.head()

,CodCliente,Nome,CPF,Sexo,Estado,Cidade,Bairro,Numero,Rua,TelefoneFixo,TelefoneCelular,cpf_corrigido
0,1,Ken J Sánchez,15296387930,Feminino,Minas Gerais,Belo Horizonte,Centro,10.0,Rua Teste das Castanheiras,36418855.0,NaN,15296387930
1,2,Terri Lee Duffy,10578963690,M,Minas Gerais,Belo Horizonte,Camargos,20.0,Rua Teste dos Pinheiros,36895566.0,NaN,10578963690
2,3,Roberto Tamburello,36925874120,M,Minas Gerais,Belo Horizonte,Santa Efigenia,30.0,Rua teste dos poetas,36895566.0,NaN,36925874120
3,4,Rob Walters,23658979630,M,Minas Gerais,Belo Horizonte,Centro,40.0,Rua teste dos prazeres,36895566.0,NaN,23658979630
4,5,Gail A Erickson,78952589746,M,Minas Gerais,Belo Horizonte,Santo Antônio,50.0,Rua teste da poesia,36895566.0,NaN,78952589746

### Analise do Dataset dfApolices

In [18]:
dfApolices.shape

(10, 7)

In [19]:
dfApolices.head()

,CodApolice,ValorCobertura,ValorFranquia,DataInicioVigencia,DataFimVigencia,Cliente_CodCliente,Carro_CodCarro
0,1,100000,800,01/01/2022,01/01/2023,11,3
1,2,150000,1000,01/01/2021,01/01/2022,12,4
2,3,80000,300,01/01/2022,01/01/2023,13,5
3,4,90000,400,01/01/2015,01/01/2015,14,6
4,5,100000,800,01/01/2022,01/01/2023,1,20

- **CodApolice:** identificador unico das apolices
- **ValorCobertura:** valor da cobertura do seguro
- **ValorFranquia:** valor que o cliente da apolice deve arcar em um sinistro
- **DataInicioVigencia:** data de inicio da vigencia do seguro
- **DataFimVigencia:** data de fim da vigencia do seguro
- **Cliente_CodCliente:** identificador do cliente da apolice
- **Carro_CodCarro:** identificador do carro da apolice

In [20]:
dfApolices.isnull().sum()

CodApolice            0
ValorCobertura        0
ValorFranquia         0
DataInicioVigencia    0
DataFimVigencia       0
Cliente_CodCliente    0
Carro_CodCarro        0
dtype: int64

In [21]:
dfApolices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CodApolice          10 non-null     int64
 1   ValorCobertura      10 non-null     int64
 2   ValorFranquia       10 non-null     int64
 3   DataInicioVigencia  10 non-null     object
 4   DataFimVigencia     10 non-null     object
 5   Cliente_CodCliente  10 non-null     int64
 6   Carro_CodCarro      10 non-null     int64
dtypes: int64(5), object(2)
memory usage: 688.0+ bytes

### Analise do Dataset dfSinistros

In [22]:
dfSinistros.shape

(6, 6)

In [23]:
dfSinistros.head()

,CodSinistro,HoraSinistro,DataSinistro,Local Sinistro,Condutor,Carro_CodCarro
0,1,10,29/07/2022,Belo Horizonte,Condutor Teste 1,6
1,2,9,28/07/2022,Santa Luzia,Condutor Teste 2,281
2,3,8,22/07/2022,Belo Horizonte,Condutor Teste 3,100
3,4,7,15/07/2022,Betim,Condutor Teste 4,5
4,5,6,12/07/2022,Contagem,Condutor Teste 5,3

- **CodSinistro:** identificador unico do sinistro
- **HoraSinistro:** hora de ocorrencia do sinistro
- **DataSinistro:** data de ocorrencia do sinistro
- **Condutor:** condutor do sinistro
- **Carro_CodCarro:** identificador do carro do sinistro

In [24]:
dfSinistros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CodSinistro     6 non-null      int64
 1   HoraSinistro    6 non-null      int64
 2   DataSinistro    6 non-null      object
 3   Local Sinistro  6 non-null      object
 4   Condutor        6 non-null      object
 5   Carro_CodCarro  6 non-null      int64
dtypes: int64(3), object(3)
memory usage: 416.0+ bytes

In [25]:
dfSinistros.isnull().sum()

CodSinistro       0
HoraSinistro      0
DataSinistro      0
Local Sinistro    0
Condutor          0
Carro_CodCarro    0
dtype: int64

### ETL

In [26]:
df1 = dfSinistros.merge(dfCarros, left_on='Carro_CodCarro', right_on='ID', how='left')

In [27]:
df2 = dfApolices.merge(dfClientes, left_on='Cliente_CodCliente', right_on='CodCliente', how='left')

In [28]:
df3 = df2.merge(dfCarros, left_on='Carro_CodCarro', right_on='ID', how='left')

In [29]:
# analisando a relacao carro-cliente
mask = ['CodCliente', 'Nome', 'ID']
df4 = df3[mask]

In [30]:
df5 = df1.merge(df4, left_on='Carro_CodCarro', right_on='ID', how='left')

In [31]:
df5

,CodSinistro,HoraSinistro,DataSinistro,Local Sinistro,Condutor,Carro_CodCarro,ID_x,Placa,Marca,Modelo,Ano,Chassi,Cor,data_criacao,CodCliente,Nome,ID_y
0,1,10,29/07/2022,Belo Horizonte,Condutor Teste 1,6,6,Placa 9,ALFA ROMEO,147,2009,Chassi6,Vermelho,2022-09-20 18:59:20.573969,14,Michael I Sullivan,6
1,2,9,28/07/2022,Santa Luzia,Condutor Teste 2,281,281,Placa 284,KIA,BESTA,2022,Chassi281,Prata,2022-09-20 18:59:20.573969,5,Gail A Erickson,281
2,3,8,22/07/2022,Belo Horizonte,Condutor Teste 3,100,100,Placa 103,DODGE,JOURNEY,2016,Chassi100,Preto,2022-09-20 18:59:20.573969,9,Gigi N Matthew,100
3,4,7,15/07/2022,Betim,Condutor Teste 4,5,5,Placa 8,ALFA ROMEO,145,2010,Chassi5,Prata,2022-09-20 18:59:20.573969,13,Janice M Galvin,5
4,5,6,12/07/2022,Contagem,Condutor Teste 5,3,3,Placa 7,ACURA,NSX,2015,Chassi3,Branco,2022-09-20 18:59:20.573969,11,Ovidiu V Cracium,3
5,6,6,10/07/2022,Sabara,Condutor Teste 1,6,6,Placa 9,ALFA ROMEO,147,2009,Chassi6,Vermelho,2022-09-20 18:59:20.573969,14,Michael I Sullivan,6

In [32]:
import pandas as pd
from pandas import DataFrame
dim_calendario: DataFrame = pd.DataFrame()
dim_calendario['data'] = pd.date_range(start='1/1/2000', end='12/31/2030')

In [33]:
dim_calendario['mes'] = dim_calendario['data'].dt.month

In [34]:
dim_calendario[id] = dim_calendario['data'].apply(lambda x: x.strftime('%Y%m%d'))

In [35]:
dim_calendario

            data  mes 2024841093584
0     2000-01-01    1      20000101
1     2000-01-02    1      20000102
2     2000-01-03    1      20000103
3     2000-01-04    1      20000104
4     2000-01-05    1      20000105
...          ...  ...           ...
11318 2030-12-27   12      20301227
11319 2030-12-28   12      20301228
11320 2030-12-29   12      20301229
11321 2030-12-30   12      20301230
11322 2030-12-31   12      20301231

[11323 rows x 3 columns]